<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ rental.name }}</title>
  </head>
  <body>
    <p>Created: {{ rental.entered_date }}</p>
    <p>Equipment rented: {{ rental.equipment }}</p>
    <p>Received date: {{ rental.received_date }}</p>
    <p>Entered via: {{ rental.entered_via }}</p>
    <p>Estimated return date: {{ rental.return_date }}</p>
    <p>Buy or rent: {{ rental.buy_or_rent }}</p>
    <p>Commonts: {{ rental.comments }}</p>
  </body>
</html>
