  {% extends 'base.html'%}
  {% block title %}
  Rental Number {{ rental.id }}
  {% endblock %}
  {% block sidebar%}
  {% if user.groups.all.0.name == 'moderator' %}

  <a href="{% url 'rental:rental_update' rental.id%}">Edit {{rental.id}}</a>
  <a href="{% url 'rental:rental_confirm_delete' rental.id%}">Delete {{rental.id}}</a>
{%endif%}
<a href="{% url 'rental:rental_list'%}">Back to Rentals</a>

  {%endblock%}
  {%block content%}
    <p>Created: {{ rental.entered_date }}</p>
    <p>Equipment rented: <a href="{% url 'equipment:equipment_detail' rental.equipment.id%}">{{ rental.equipment }}</a></p>
    <p>Received date: {{ rental.received_date }}</p>
    <p>Entered via: {{ rental.entered_via }}</p>
    <p>Estimated return date: {{ rental.return_date }}</p>
    <p>Buy or rent: {{ rental.buy_or_rent }}</p>
    <p>Comments: {{ rental.comments }}</p>
    <p>Job: </p>
    <br>
    {%if rental.job.id%}
    <li>
      <a href="{% url 'rental:job_detail' rental.job.id%}">{{rental.job.id}}</a>
    </li>
    {%else%}
    No Jobs Assigned
    {%endif%}
  {% endblock%}
